.body-area {
  display: flex;
  margin-top: 3%;
}
.container {
  margin-top: 10px !important;
}
.img-container {
  width: 50%;
  border-radius: 10px;
  overflow: hidden;
}
.img-container img {
  object-fit: cover;
}
.sign-in-area {
  width: 50%;
  margin-top: 5%;
  margin-left: 10%;
}
